<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmg.mapper.memberMapper">
<insert id = "register">
insert into member values(seq_member_num.nextval, #{m_email}, #{m_pw})
</insert>

<select id="login" resultType="memberVO">
select m_pw, m_email from member where m_email = #{m_email}
</select>

<select id="isexist" resultType="int">
select count(m_email) from member where m_email = #{m_email}
</select>
</mapper>