<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmg.mapper.replyMapper">
<insert id="regist">
insert into reply values(seq_reply_id.nextval, #{b_id}, #{r_text}, #{r_writer}, sysdate)
</insert>

<delete id="remove">
delete from reply where r_id=#{r_id}
</delete>

<select id="show" resultType="replyVO">
<![CDATA[
select * 
from (
	select rownum as rnum, a.*
	from reply a
	where(
		rownum <= (]]><include refid="cnt"></include><![CDATA[) - ((#{pageNum} - 1) * 10)
	)
) 
where RNUM > (]]><include refid="cnt"></include><![CDATA[) - ((#{pageNum} - 1) * 10) - 10
order by b_id desc ]]>
</select>

<select id="count" resultType="int">
<include refid="cnt"></include>
</select>

<sql id="cnt">select count(*) from reply where b_id = #{b_id}</sql>
</mapper>